@import url('https://fonts.cdnfonts.com/css/cooper-black-cyrillic');

:root {
    --color1: #16235E;
    --color2: #1A5D83;
    --color3: rgb(255, 224, 86);
    --color4: whitesmoke;

    --font1: 'Times New Roman', cursive;
    --font2: Georgia, serif;
}